{% extends "slides/layout.html" %}
{% load static %}
{% load custom_template_tags %}

{% block title %} Home {% endblock %}

{% block scripthead %}
    <script src="{% static 'slides/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div>
        <!-- Search area -->
        <div id="search">
            <input type="search" id="search-field" placeholder="Type search term here">
            <button type="submit" id="search-button">Search</button>
        </div>

        <!-- Announcements -->
        <div id="announcements">
            
        </div>

        <!-- Latest posts -->
        <div class="section-container">
            <div id="section-label">
                <p class="label-text">Latest Uploads</p>
            </div>
            <div id="latest-uploads">
                {% for document in documents %}
                <div class="container-latest">
                    <div id="topic">{{ document.topic }}</div>
                    <div id="filename"> {{ document.file_name }}</div>
                    <div class="download-size">
                        <div id="size"> {{ document.document.size|sizify}}</div>
                        <div url><a href="{{ document.document.url }}" style="text-decoration: none;"> Download </a></div>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- All courses available to user -->
        <div class="section-container">
            <div id="section-label">
                <p class="label-text">Courses</p>
            </div>
            <div id="courses">
                {% for course in courses %}
                <a href="/course/{{ course.id }}" style="text-decoration: none;">
                    <div data-course_id="{{ course.id }}" class="container-courses">
                        <div  class="image-cont">
                            <img src="{% static 'slides/assets/folder.png' %}">
                        </div>
                        <p>{{ course.course }}</p>
                    </div>
                </a>
                
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- All courses under user's program -->
    <div class="section-container">
        <div class="program-year">
            <div id="section-label">
                <p class="label-text">{{ user.program.program }}</p>
            </div>
        </div>
        
        <div id="levels">
            
            {% for level in levels %}
            <a href="/program/{{ level.id}}" style="text-decoration: none;">
                <div class="container-levels">
                    <div class="level-image">
                        <img src="{% static 'slides/assets/graduated.png' %}">
                    </div>
                    <p data-id="{{ level.id }}" class="levels">L{{ level.level }}</p>
                </div>
            </a>  
            
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}

