{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} Slides {% endblock %}</title>
        <link href="{% static 'slides/styles.css' %}" rel="stylesheet">
        <script src="{% static 'slides/script.js' %}"></script>
        {% block scripthead %}
        {% endblock %}
    </head>

    <body>
        
        <div id="page">

            <ul class="menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'upload' %}">Upload</a></li>
                <li><a href="#">Announce</a></li>
                <li style="float: right;"><a href="#">Logout</a></li>
            </ul>


            <div class="body">
                {% block body %}
                {% endblock %}
            </div>

            <div class="footer">

            </div>
        </div>
    
    </body>
        {% block script %}
        {% endblock %}
</html>