{% extends "slides/layout.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block scripthead %}
    <link href="{% static 'slides/login.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div id="login-container">

        <form class="login-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="label-plus">
                <label class="login-labels" for="username">Username</label>
                <input id="username" type="text" name="username" required>
            </div>

            <div class="label-plus">
                <label class="login-labels" for="password">Password</label>
                <input id="password" type="password" name="password" required>
            </div>
            
            <div id="button-container">
                <button type="submit" id="login-button">Login</button>
            </div>
            
        </form>

    </div>
    
{% endblock %}