{% extends "slides/layout.html" %}
{% load mathfilters %}
{% load static %}

{% block scripthead %}
    <link href="{% static 'slides/upload.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block title %}
    upload
{% endblock %}


{% block body %}
    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

    <div id="upload-container">
        <form class="slides-form" action="{% url 'upload' %}"
            method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="upload-labels" for="course">Course</label>
            <select id="course" name="course">
                <option value="">---------</option>
                {% for course in courses %}
                <option value="{{ course.id }}">{{ course.course }}</option>
                {% endfor %}
            </select>
            <label class="upload-labels" for="topic">Topic</label>
            <input id="topic" type="text" name="topic">
            <!-- <label id="upload-label" for="file">
                <span class="material-icons">
                    cloud_upload
                </span> &nbsp;
                Select file
            </label> -->

            <div class="form-group file-area">
                <label class="upload-labels" for="file">File </label>
            <input type="file" name="file" id="file" required="required"/>
            <div class="file-dummy">
              <div class="success">Your file has been selected.</div>
              <div class="default">Please select a file</div>
            </div>
            </div>

            <!-- <input id="file" type="file" name="uploaded-file" accept= "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
            text/plain, application/pdf, image/*"> -->
            <div id="button-container">
                <button type="submit" id="login-button">Upload</button>
            </div>
        </form>
    </div>


    {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}
        {% endblock %}