@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#the-announcement {
    margin: 20px;
    #a-title {
        display: flex;
        justify-content: center;

        #title-text {
            font-family: 'Roboto', sans-serif;
            font-size: 30px;
            margin: 0px;
            color: #4b4b4b;
            text-align: center;
        }
    }

    #a-announcement {
        margin-top: 5px;

        #announcement-body {
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            color: #363636
        }
    }
}