// Variables and extensions
%inputs {
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

.slides-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: auto;
    margin-right: auto;

    input, select, label{
        margin: 5px;
    }
}

// Index page design
#page {
    // Search area
    #search {
        #search-field {
            //pass
        }
    }

    // Latest uploads
    
}
#latest-uploads {
    display: flex;
    flex-direction: row;
}